# Since mount-sdcard 1.6.0, it adheres to the nomenclature used in other udev rules:
# - KERNEL=="sd*[!0-9]|sr*", ENV{DEVTYPE}=="disk" for all USB-attached (OTG) storage *devices*
# - KERNEL=="sd*[0-9]|sr*", ENV{DEVTYPE}=="partition" for all partitions on USB-attached storage devices
# - KERNEL=="sd*|sr*" for both
# - KERNEL=="mmcblk[1-9]" (the test ENV{DEVTYPE}=="disk" can be omitted) for the card in the internal slot and all external (USB-attached) SD-cards and MMCs (e.g., in readers).
# - KERNEL=="mmcblk[1-9]p[0-9]" (the test ENV{DEVTYPE}=="partition" can be omitted) for all partitions on the card in the internal slot and on all external SD-cards and MMCs.  Side note: mmcblk[0-9]boot[0-9] are (e)MMC's specuail boot devices.
# - KERNEL=="mmcblk[1-9]*" for both
# - KERNEL=="mmcblk[1-9]*|sd*|sr*", SUBSYSTEMS=="usb" to filter for anything attached via (presumably "external") USB.  Mind that on devices without an SD-card slot mmcblk1 will be an externally attached card.
# Reference: /usr/lib/udev/rules.d/60-persistent-storage.rules
# 
# Is something like KERNEL=="mmcblk[1-9]*|sd*|sr*", SUBSYSTEMS=="usb", ATTR{removable}="1" possible and reasonable (means only "removable *media*"?) ?  Or without restricting it to USB-attached devices / partitions?

SUBSYSTEM!="block", GOTO="mountsd_end"
KERNEL!="mmcblk[1-9]*|sd*|sr*", GOTO="mountsd_end"

# Ignore the additions / changes by Jolla per
# https://git.sailfishos.org/mer-core/udisks2/blob/master/rpm/0005-Add-udev-rule-for-the-sda-drives.patch
# by setting these anew / clobbering these for *all suitable* devices.
KERNEL=="mmcblk[1-9]*", ENV{DEVTYPE}=="disk", ENV{MMC_TYPE}!="?*", ENV{ID_DRIVE_FLASH_SD}="1", ENV{ID_DRIVE_MEDIA_FLASH_SD}="1"
KERNEL=="sd*", ENV{DEVTYPE}=="disk", ENV{ID_DRIVE_FLASH_SD}="1", ENV{ID_DRIVE_MEDIA_FLASH_SD}="1"
# ToDo: Only set that for storage, which is not "rotational", but also for SATA-RAIDs; check, if ATTR{queue/rotational} works!?!
#KERNEL=="sd*|sr*", ENV{DEVTYPE}=="disk", ATTR{queue/rotational}=="0", ENV{ID_DRIVE_FLASH_SD}="1", ENV{ID_DRIVE_MEDIA_FLASH_SD}="1"

# Set UDISKS_CAN_POWER_OFF for all devices dealt with, here:
#ENV{DEVTYPE}=="disk", ENV{UDISKS_CAN_POWER_OFF}="1"

# Match ENV{ID_FS_USAGE}=="filesystem" for all selected devices
ENV{ID_FS_USAGE}=="filesystem", ACTION=="add|change", ENV{UDISKS_SYSTEM}="0", ENV{UDISKS_AUTO}="0", ENV{UDISKS_NAME}="mount_sdcard_dev-%k", MODE="0660", ENV{MOUNTSD_ACTIVE}="1", TAG+="systemd", ENV{SYSTEMD_WANTS}="mount-sd@%k.service"
# When above detected and assigned devices are removed
ENV{MOUNTSD_ACTIVE}=="1", ACTION=="remove", ENV{MOUNTSD_ACTIVE}="0", ENV{UDISKS_NAME}="mount_sdcard_removed", ENV{SYSTEMD_WANTS}="", ENV{SYSTEMD_USER_WANTS}="", RUN{program}+="/usr/bin/systemctl stop mount-sd@%k.service"

LABEL="mountsd_end"

# Unmatch sda0 to mmcblk1 exactly (per "mmcblk1*|sd[a-z][0-9]", "block", "add") as in SailfishOS' v2.2.0 to 3.0.1
# patched /lib/udev/rules.d/80-udisks2.rules, if no filesystem detected by udev.  This is fixed in SailfishOS 3.0.1+.
KERNEL=="mmcblk1*|sd[a-z][0-9]", SUBSYSTEM=="block", ACTION=="add", ENV{ID_FS_USAGE}!="filesystem", TAG-="systemd", ENV{SYSTEMD_WANTS}="", ENV{SYSTEMD_USER_WANTS}=""

