# Unmatch sda0 to mmcblk1 exactly (per "mmcblk1*|sd[a-z][0-9]") as in SailfishOS' v2.2.0 to 3.0.1 patched
# /lib/udev/rules.d/80-udisks2.rules, if no filesystem detected by udev.  This is fixed in SailfishOS 3.0.1+.
KERNEL=="mmcblk1*|sd[a-z][0-9]", SUBSYSTEM=="block", ENV{ID_FS_USAGE}!="filesystem", ACTION=="add", TAG-="systemd", ENV{SYSTEMD_WANTS}=""

