[Unit]
Description=Mount /dev/%i per udisks
After=udisks2.service dev-%i.device start-user-session.service
Requisite=dev-%i.device
Requires=udisks2.service
# Also conflict with umount.target (see man 7 systemd.special), as
# this is a mounting unit, although not a mount unit:
Conflicts=umount.target rescue.target actdead.target factory-test.target
# Ensure that this Unit is processed before alien-service-manager
# is started (and even more importantly that it is shut down, *after*
# alien-service-manager is shut down), to allow for e.g. (and more), 
# android_storage on SD-card:
Before=alien-service-manager.service umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/systemd/system/%p@.conf
EnvironmentFile=-/etc/mount-sdcard/%p@.conf
EnvironmentFile=-/etc/mount-sdcard/%N.conf
ExecStart=/usr/bin/udisksctl-user mount $UDISKS2_MOUNT_OPTIONS -b /dev/%i
ExecStop=/usr/bin/udisksctl unmount -b /dev/%i
ExecStopPost=/bin/umount -vrq /dev/%i

