[Unit]
Description=Mount SD-card (%i) with udisks
After=udisks2.service dev-%i.device
BindsTo=udisks2.service dev-%i.device
Conflicts=rescue.target actdead.target factory-test.target
# Ensure that this Unit is processed before alien-service-manager 
# is started (and even more importantly that it is shut down, *after*
# alien-service-manager is shut down), to allow for android_storage 
# on SD-card:
Before=alien-service-manager.service

[Service]
User=nemo
Type=oneshot
RemainAfterExit=yes
# As "udisksctl mount" (below) may fail when issued right after
# "udisksd" (per "udisks2.service") has finished starting, because
# the udisks object for a partition has not been created yet, one
# may give udisksd a second to settle:
# ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/udisksctl mount -b /dev/%i
ExecStop=/usr/bin/udisksctl unmount -b /dev/%i

