[Unit]
Description=Mount SD-card (%i) with udisks
After=udisks2.service dev-%i.device start-user-session.service
BindsTo=udisks2.service dev-%i.device
# Allow for rescue.target and conflict with umount.target (see
# man 7 systemd.special; needed expicitly as this a mounting unit,
# but not a mount unit):
Conflicts=umount.target actdead.target factory-test.target
# Ensure that this Unit is processed before alien-service-manager
# is started (and even more importantly that it is shut down, *after*
# alien-service-manager is shut down), to allow for android_storage
# on SD-card:
Before=alien-service-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
# As "udisksctl mount" (below) may fail when issued right after
# "udisksd" (per "udisks2.service") has finished starting, because
# the udisks object for a partition has not been created yet, one
# may give udisksd a second to settle:
# ExecStartPre=/bin/sleep 1
# Note that above became unnecessary by "After=start-user-session.service",
# which is needed to use the /usr/bin/udisksctl-user script.
ExecStart=/usr/bin/udisksctl-user mount -o noexec -b /dev/%i
ExecStop=/usr/bin/udisksctl unmount -b /dev/%i

