[Unit]
Description=Create media symlink to SD-card %i
Documentation=https://github.com/Olf0/crypto-sdcard
After=dev-%i.device
Requisite=dev-%i.device

[Service]
# The symlink is meant to stay, so it cannot be accidentially overwritten.
# OTOH, ln does not overwrite anything; it just fails, if a file, directory or link of that name already exists.
ExecStart=-/bin/sh -c 'UUID="$(/sbin/blkid -c /dev/null -s UUID -o value /dev/%i)" && ln -s /run/media/nemo/$UUID /media/sdcard/$UUID'

